PREDICT_URL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
NODE_ENV=development #production
ORIGIN=
MONGODB_URI=
EMAIL_PASS=
EMAIL_USER=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
EMAIL_SERVICE=
SMTP_POOL=
SMTP_MAX_CONNECTIONS=
SMTP_MAX_MESSAGES=
EMAIL_FROM=